<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Boxes of Love Sticker</title>    
        <link href="../static/styles/item.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="container">
            <div class="title">
                <h1>MERCH</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="box">
                    <img src="../static/assets/thankyou.PNG" width=80%>
                </div>
            </div>

            <div class="space">
            </div>

            <div class="col">
                <div class="iteminfo">
                    <h1>Thank You! Sticker</h1>
                    <p>$0.00</p>
                    <button type="button" href="/cart2">Add to Cart</button>
                </div>
            </div>
        </div>
    </body>
</html>