body {
    width: 100%;
    margin: 0;
    padding: 0;
}


.row {
    width: 80%;
    margin-left: 15%;
    margin-right: 15%;
    height: 100%;
    display: flex;
    margin-bottom: 100px;
}

.col {
    width: 50%;
}

.space {
    width: 50px;
}

.container{
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 70px;
}

.title {
    margin-left: 0;
    background-color: #FFD36E;
    width: 300px;
    height: 60px;
    text-align: center;
}

.title p {
    position: relative;
    top: 35%;
}

.box {
    background: #FFFFFF;
    border: 5px solid #FFD36E;
    box-sizing: border-box;
    border-radius: 20px;
    height: 100%;
    text-align: center;
}

.box img {
    position: relative;
    top: 3%;
}

button {
    justify-content: center;
    border: none;
    padding: 15px 32px;
    background-color: #FFD36E;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
}