/* div{
    display: block;
  }
  
  .button1{
    position: absolute;
    width: 148px;
    height: 55px;
    left: 312px;
    top: 901px;
  }
  
  .button2{
    position: absolute;
    width: 148px;
    height: 55px;
    left: 637px;
    top: 901px;
  }
  
  .button3{
    position: absolute;
    width: 148px;
    height: 55px;
    left: 970px;
    top: 901px;
  }
  
  .button4{
    position: absolute;
    width: 148px;
    height: 55px;
    left: 312px;
    top: 1488px;
  }
  
  .button5{
    position: absolute;
    width: 148px;
    height: 55px;
    left: 637px;
    top: 1488px;
  }
  
  .button6{
    position: absolute;
    width: 148px;
    height: 55px;
    left: 970px;
    top: 1488px;
  }
  
  .merch{
    position: relative;
    width: 1440px;
    height: 1715px;
  
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .Rectangle_117{
    position: absolute;
    width: 567px;
    height: 89px;
    left: 0px;
    top: 277px;
  
    background: #FFD36E;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .Rectangle_13{
    position: absolute;
    width: 281px;
    height: 326px;
    left: 245px;
    top: 460px;
  
    background: #FFFFFF;
    border: 5px solid #FFD36E;
    box-sizing: border-box;
    border-radius: 20px;
  }
  
  .Rectangle_14{
    position: absolute;
    width: 281px;
    height: 326px;
    left: 571px;
    top: 460px;
  
    background: #FFFFFF;
    border: 5px solid #FFD36E;
    box-sizing: border-box;
    border-radius: 20px;
  }
  
  .Rectangle_15{
    position: absolute;
    width: 281px;
    height: 326px;
    left: 903px;
    top: 460px;
  
    background: #FFFFFF;
    border: 5px solid #FFD36E;
    box-sizing: border-box;
    border-radius: 20px;
  }
  
  .Rectangle_16{
    position: absolute;
    width: 281px;
    height: 326px;
    left: 247px;
    top: 1035px;
  
    background: #FFFFFF;
    border: 5px solid #FFD36E;
    box-sizing: border-box;
    border-radius: 20px;
  }
  
  .Rectangle_17{
    position: absolute;
    width: 281px;
    height: 326px;
    left: 573px;
    top: 1035px;
  
    background: #FFFFFF;
    border: 5px solid #FFD36E;
    box-sizing: border-box;
    border-radius: 20px;
  }
  
  .Rectangle_18{
    position: absolute;
    width: 281px;
    height: 326px;
    left: 905px;
    top: 1035px;
  
    background: #FFFFFF;
    border: 5px solid #FFD36E;
    box-sizing: border-box;
    border-radius: 20px;
  }
  
  .Rectangle_72{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
  
    background: #FFD36E;
    border-radius: 20px;
  } */

.merch {
    width: 100%;
    height: 100%;
    margin-bottom: 200px;
}
.row{
    display: flex;
    margin-bottom: 100px;
    padding-left: 15%;
    padding-right: 15%;
}

.item {
    width: 30%;
    height: 300px;
}


.col{
    width: 5%;
}

.box {
    background: #FFFFFF;
    border: 5px solid #FFD36E;
    box-sizing: border-box;
    border-radius: 20px;
    height: 250px;
    text-align: center;
    position: relative;
}

.box img {
    position: relative;
    top: 15%;
}

.container{
    margin-left: -20px;
    padding-left: 0;
    margin-bottom: 70px;
}

.title {
    margin-left: 0;
    background-color: #FFD36E;
    width: 300px;
    height: 60px;
    text-align: center;
}

.title p{
    position: relative;
    top: 30%;
}

button{
    justify-content: center;
    border: none;
    padding: 15px 32px;
    background-color: #FFD36E;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
}

.iteminfo{
    text-align: center;
    margin: auto;
}


body {
  font-family: "Open Sans";
  margin: auto;
  scroll-behavior: smooth;
}
.navbar-brand {
  font-size: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.navbar {
  font-size: 20px;
}
.nav-item {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.nav-item:hover {
  background-color: #FFD36E;
}
.dropdown-item:hover {
  background-color: #FFD36E;
}
